<link rel="stylesheet" href="style/productPage.css">
<script src="script/productPage.js"></script>
<%- include('header') %>
<head>
    <title>
        <%- product.name %> - A&M
    </title>
</head>
<div class="product-page"> 
    <div class="product-details">
        <div class="product-details-pictures">
            <div class="picture-button">
                <img id="img1" src="<%- product.imageList[0] %>">
                <div class="full-button" onclick="openFullImg(0)">
                    
                </div>
            </div>
            <div class="picture-button">
                <img id="img2" src="<%- product.imageList[1] %>">
                <div class="full-button" onclick="openFullImg(1)">
                    
                </div>
            </div>
        </div>
        <div class="product-properties">
            <div class="description section">
                <div class="properties description-header">Описание</div>
                <%- product.description %>
            </div>
            <div class="composition section">
                <span class="properties">Состав —</span> <%- product.composition %>
            </div>
            <div class="wash-symbols section">
                <span class="properties">Рекомендации по уходу —</span> 
                <span class="wash-symbols-container">
                    <div>
                        <% for(let i=0; i<product.washSymbolsList.length; i++) { %>

                            <% if (product.washSymbolsList[i]) { %>
                                <div class="wash-symbol">
                                    <img src="/pictures/washSymbols/<%- i %>@2x.png">
                                </div>
                            <% } %>
    
                        <% } %>
                    </div>
                </span>
            </div>
            <div class="product-id section">
                <span class="properties">Арт.</span> № <span class="properties">—</span> <%- product.id %>
            </div>
        </div>
    </div>
    
    <div class="right-panel">
        <div class="product-actions">
            <div class="container-info">
                <div class="name"><%- product.name %></div>
                <div class="price">
                    <%- product.price %> руб.
                </div>
            </div>
            <div class="color">
                <div class="color-button" style="background-color: <%- product.color %>"></div>
                <div class="color-name">
                    <%- product.colorName %>
                </div>
            </div>
            <div class="button-container">
                <div class="size">
                    <div class="size-container">
                        <div class="size-main-container" id="sizeMainContainer" onclick="sizeSwitchHandler()">
                            <span id="sizeField">Выбрать размер</span>
                            <div class="choice-button" id="iconChoiceButton">
                                
                            </div>
                        </div>
                        <div class="size-dropdown-container" id="sizeDropdownContainer">
                            <div class="size-button" id="sizeButton" onclick="sizePickHandler(this)">
                                xs
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-add">
                    <div class="add-button">
                        Добавить в корзину
                    </div>
                    <div class="favorite-button" onclick="switchFavoriteIcon()">
                        <svg id="favoriteIconOff" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                            <path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/>
                        </svg>
                        <svg id="favoriteIconOn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
                        </svg>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-modal-container" id="fullModal">
    <div class="cross-button" onclick="closeFullImg()"></div>
    <img id="fullImg" src="<%- product.imageList[0] %>">
</div>
<script>
    let product = <%-JSON.stringify(product)%>;
</script>